# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/
*.log

# Stripe CLI
stripe.exe
stripe

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Collected static (Whitenoise/CDN)
/staticfiles/

project pictures/

